/* Assignment 1 */
header {
    background-color: burlywood;
    width: 100%;
    color:maroon;
}

footer {
    background-color:maroon;
    color:aqua;
}

a:hover {
    background-color: blueviolet;
    color: black;
    font-size: 18px;
}

/* Assignment 2 */
.button {
    border: none;
    background-color: darkblue;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
      cursor: pointer;
}

.button:hover {
    background-color: white;
    color: #00008b;
    border: 2px solid #00008b;
}

/* Assignment 1 */
.main_image {
    display: block;
    width: 75%;
    margin: auto;
}