/* Assignment 1 */
header {
    background-color: burlywood;
    width: 100%;
    color:maroon;
}

footer {
    background-color:maroon;
    color:aqua;
}

a.recipe_link:hover {
    background-color: blueviolet;
    color: black;
    font-size: 18px;
}

.main_image {
    display: block;
    width: 75%;
    margin: auto;
}

/* Assignment 2 */

a.submission {
    background-color: darkblue;
    color: white;
}

a.submission:hover {
    background-color: white;
    color: darkblue;
}

button#submission {
    border: none;
    background-color: darkblue;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
      cursor: pointer;
}

button#submission:hover {
    background-color: white;
    color: darkblue;
    border: 2px solid #00008b;
}

.label {
    color:blueviolet ;
}

#nr_steps {
    color:indigo;
}

#nr_ingredients {
    color:purple;
}