header {
    background-color: burlywood;
    width: 100%;
    color:maroon;
}

footer {
    background-color:maroon;
    color:aqua;
}

a:hover {
    background-color: blueviolet;
    color: black;
    font-size: 18px;
}

.main_image {
    display: block;
    width: 75%;
    margin: auto;
}